* {
    padding: 0;
}

body {
    background-color: lightgray;
}

#calc {
    background-color: aquamarine;
}

#calc:hover {
    background-color: black;
    color: aqua;
    cursor: pointer;
}

#resultado {
    font-size: 25px;
    color: blue;
    margin-left: 25px;
}
